<%- include(path.join('..', 'includes', 'head.ejs')) %>
    </head>

    <body>
        <%- include(path.join('..', 'includes', 'navigation.ejs')) %>
        <main>
            <h1>Nothing there!</h1>
        </main>
        <%- include(path.join('..', 'includes', 'end.ejs')) %>