<%- include(path.join('..', 'includes', 'head.ejs')) %>
</head>

    <body>
        <%- include(path.join('..', 'includes', 'navigation.ejs')) %>
        <h1>Sorry we ran into an error.</h1>
    </body>
</html>